@{
    ViewBag.Title = "홈페이지";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- 글목록 -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <span>프로젝트 소개</span>
                </div>
            </div>
            <div class="card-body">
                모블 최종 프로젝트
                <br>
                화재 방지 CCTV 시스템
                <br>
                팀장 : 이환희
                <br>
                팀원 : 김채린, 김태운, 이규진, 전건아
                <br/>
                개발 기간 약 30일
            </div>
        </div>
    </div>
</div>

