@{
    ViewData["Title"] = "Access Denied";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>권한이 없습니다</title>
    <script type="text/javascript">
        window.onload = function () {
            alert("권한이 없습니다.");
            window.location.href = '/Home/Index'; // 홈 페이지나 다른 적절한 페이지로 리다이렉트
        }
    </script>
</head>
<body>
    <h1>권한이 없습니다.</h1>
</body>
</html>
